.Formulario{
  background-image: url(https://res.cloudinary.com/dybaqgqte/image/upload/v1682988211/Librer%C3%ADa%20Deimos/background2_j3y4gd.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
}

.ticketButton{
  background-color: #eeff00;
  color: #050000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

