.containerDetail{

    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    background-image: url(https://res.cloudinary.com/dybaqgqte/image/upload/v1681094974/Librer%C3%ADa%20Deimos/backg_nb2xnb.jpg);
    background-attachment: fixed;
    background-size: cover;
  
}

.containerDetail img {
    margin-top: 25px;
    width: 350px;
    height:500px;
}


#detalle {

}

h2,h3 {
    color: aliceblue;
    text-align: center;
}

h5 {
    display: flex;
    color: bisque;
    margin:80px;
    margin-top: 30px;
    font-size: 16px; 
    justify-content: space-around;
   
}

h6{
    font-size:16px;
    color:rgb(180, 165, 195);
    text-align: center;

}