
.cart-container{
    width: 100%;
    padding-top: 15px;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-image: url(https://res.cloudinary.com/dybaqgqte/image/upload/v1682988211/Librer%C3%ADa%20Deimos/background2_j3y4gd.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;

}

.container-items{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-left: 10px;
}

.container-items h1 {
    color: rgb(255, 230, 0);
    background-color: rgb(84, 19, 19);
    padding: 15px;
    border-radius: 25px;
    align-content: center;
    font-family: serif;
    font-size: 26px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0%;

}
.cart-info{
    
   
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: baseline;
    justify-content: space-evenly;
    color: #fefeff;
    background-color: rgba(0, 0, 0, 0.22);
    margin-right: 25px;
}
.cart-info img {
    width: 250px;
    min-height: 250px;
    margin-bottom: 50px;
}
.cart-info h3 {
    margin-bottom: 50px;
}

.cart-info h6 {

    color:black;
    font-size: 26px;
    text-align: center;
    display:flex;
    justify-content: center;
    border-top: 1px solid black;
    margin-left: 5%;
    padding-top: 25px;
   

}

.btn-cart{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content:baseline;
    margin-left: 15px;
}

.btn-cart > button {
    width: 200px;
}

.cart-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    border-radius: 10px;
   

}

.item-quantity{
    margin-top: 0%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fefeff;  
}

.cart-item > img{
    width: 20%;
    height: 150px;
    object-fit: contain;
    margin-right: 10px;

}

/* Aca la tarjeta */
.cart-item-info{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fefdff;
    
    
}

.cart-item-info > h2{
    font-family: monospace;
}