.cart-container {
min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url(https://res.cloudinary.com/dybaqgqte/image/upload/v1683644014/Librer%C3%ADa%20Deimos/backform_yjtqmb.jpg);
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 10px;
}

.container-items {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-left: 10px;
  margin-top: 25px;
  
}

.container-items h1 {
  color: rgb(255, 230, 0);
  width: 70%;
  height: 50PX;
  backface-visibility: visible;
  aign-content: center;
  font-family: serif;
  font-size: 26px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 0%;
}
.container-items h3 {
  color: #000005;
}

.cart-info {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: first baseline;
  justify-content: space-evenly;
  color: #000005;
  background-color: rgba(0, 0, 0, 0.54);
  
}
.cart-info img {
  width: 250px;
  min-height: 250px;
  margin-bottom: 50px;
}
.cart-info h3 {
  margin-bottom: 50px;
  color: #f3f3f5;
}

.cart-info h6 {
  color:gold;
  font-size: 26px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(255, 252, 252);
  margin-left: 5%;
  padding-top: 25px;
}

.btn-cart {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: baseline;
  margin-left: 15px;
}

.btn-cart > button {
  width: 200px;
}

.cart-item {
  width: 100%;
  display: flex;
  color: gold;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  border-radius: 10px;
  background-color: #0c0c0daa;
}

.item-quantity {
  margin-top: 0%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fefeff;
}

.cart-item > img {
  width: 20%;
  height: 130px;
  object-fit: contain;
  margin-right: 10px;
  padding-bottom: 15px;
}

/* Aca la tarjeta */
.cart-item-info {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fefdff;
}

.cart-item-info > h2 {
  font-family: monospace;
}

.cart-item-info > h3 {
    font-family: monospace;
    width: 150px;
    font-size: 22px;
    color: rgb(249, 249, 249);
  }

.cart-price{
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 10px;
    align-items: center;
    color: gold;
    justify-content: center;
}

.cart-price h3{
  color: gold;
}
