.containerItems {
  display:flex ;
  justify-Content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(62, 24, 24);
  align-items: center;
  padding-top: 40px;
  row-gap:50px;
  flex-direction:row;

  
 
    }

  
    .MuiCardMedia-root css-1swp7vj-MuiCardMedia-root {
    background-position: 100%;
    background-size: contain;
    }

    .MuiCardContent-root css-46bh2p-MuiCardContent-root {
    

    }